/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
.header {
    background-color: #db3735;
}
.header__title {
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.wrapper {
    height: 100%;
    
}
.menu li {
    position: relative;
}
.menu a {
    text-decoration: none;
}
.menu a:hover {
    text-decoration: none;
}
.menu__list {
    display: flex;
    justify-content: center;
}
.menu__block {
    background-color: #d3d3d3;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 9px;
    border: 1px solid #c9c9c9;
    justify-content: center;
    padding-bottom: 9px;
}
.menu__block:hover {
    background-color: #da3833;
    text-decoration: none;
    transition: all 0.5s linear;
    border: 1px solid #c23031;
    color: white;
}
.menu__link {
    
    text-transform: uppercase;
    color: #111111;
    font-weight: 600;
    font-size: 17px;
}
.menu__link:hover {
    text-decoration: none;
    transition: all 0.5s linear;
    color: white;
}
/*
.menu__link {
    color: #242424;
    text-transform: uppercase;
    font-weight:600;
    font-size: 17px;
    background-color: #d3d3d3;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 5px;
    padding-top: 5px;
}
*/
.sub-menu__list {
    display: none;
    
}
.sub-menu__list>li {
    background-color: #d3d3d3;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    border: 1px solid #c9c9c9;
    text-transform: uppercase;
}
.sub-menu__list>li:hover {
    background-color: #da3833;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    text-transform: uppercase;
    transition: all 0.5s linear;
    border: 1px solid #c23031;
}
.sub-menu__list>li:hover .sub-menu__link {
    color: white;
    text-transform: uppercase;
    font-weight:600;
    font-size: 17px;
    transition: all 0.5s linear;
}
.block:hover .menu__block {
    background-color: #da3833;
    text-decoration: none;
    transition: all 0.5s linear;
    border: 1px solid #c23031;
    color: white;
}
.block:hover .menu__link {
    color: white;
    transition: all 0.5s linear;
    text-decoration: none;
}
.sub-menu__list>li:hover .sub-sub-menu__list {
    display: block;
} 
.sub-menu__link {
    color: #242424;
    text-transform: uppercase;
    font-weight:600;
    font-size: 17px;
}
.menu__list>li:hover .sub-menu__list {
    display: block;
}
.block {
        margin-right: 10px;
}
.sub-sub-menu__list {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 150px;
    display: none;
}
.sub-sub-menu__list>li {
    background-color: #d3d3d3;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    text-transform: uppercase;
    color: #111111;
    border: 1px solid #c9c9c9;
    font-weight: 600;
    text-transform: uppercase;
}
.sub-sub-menu__list>li:hover {
    background-color: #da3833;
    text-decoration: none;
    transition: all 0.5s linear;
    border: 1px solid #c23031;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.sub-sub-menu__list>li:hover .sub-sub-menu__link {
    color: white;
    transition: all 0.5s linear;
}
.sub-sub-menu__link {
    color: #242424;
}


/*
    .menu__arrow-first {
    display: none;
}
*/
/*
.menu__arrow-second {
    display: none;
}
*/
.menu__arrow-first {
    border-top: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    display: none;
}
.menu__arrow-second {
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    display: none;
}
.arrow {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0;
    height: 0;
}

@media screen and (max-width:767px) {
    .menu__arrow-first {
    border-top: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    display: block;
}
.menu__arrow-second {
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    display: none;
}

/*
.arrow {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0;
    height: 0;
}
*/

    .menu__list {
    display: block;
    justify-content: center;
}
.sub-sub-menu__list {
    position: relative;
    top: 0;
    left: 0;
    min-width: 150px;
    display: none;
}
    .sub-sub-menu__list>li {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
}
.sub-sub-menu__list>li:hover {
    text-decoration: none;
    transition: all 0.5s linear;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: 0;
}
    .sub-sub-menu__link {
    color: white;
}
}
